Code/
Dharkael/
Kitware/
QtProject.conf
Thunar/
VirtualBox/
autostart/
configstore/
copyq/
dconf/
nvim/.netrwhist
nvim/plugged/ale/
nvim/plugged/deoplete-clang/
nvim/plugged/deoplete.nvim/
nvim/plugged/nerdtree/
nvim/plugged/vim-clang-format/
nvim/plugged/vim-cpp-enhanced-highlight/
p3x-onenote/
spotify/
sublime-text-3/
xfce4/
Trolltech.conf
nvim/autoload/
nvim/plugged/goyo.vim/
nvim/plugged/i3-vim-syntax/
nvim/plugged/vifm.vim/
nvim/plugged/vim-commentary/
nvim/plugged/vimling/
nvim/plugged/vimwiki/
urxvtconfig/
